.contact{
    width: 100vw;
    background-color: rgba(58, 58, 58, 1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    direction: rtl;
    padding-bottom:170px;


h1, p, form{
    grid-column: 1/2;
    margin-right: 200px;
}
img{
    grid-column: 2/3;
    width: 600px;
    height: 522.86px;
    margin-right: 100px;
    margin-top: -300px;
}

h1{
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    padding-top: 161px;
}
p{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;

}
form{
    display: flex;
    flex-direction: column;
    label{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: white;

    }
    input{
        line-height: 2.2;
        border: 0px solid #000;
        border-bottom: 2px solid rgba(26, 224, 236, 1);
        margin-bottom: 10px;
    }
    textarea{
        border: 0 solid #000;
        border-bottom: 2px solid rgba(26, 224, 236, 1);
        margin-bottom: 30px;
    }
    .button{
        width: 160px;
        height: 40px;
        background-color: rgba(26, 224, 236, 1);
        color: rgba(44, 44, 44, 1);
        font-family: 'Heebo', sans-serif;
        font-size: 20px;
        font-weight:700;
        border-radius: 25px;

    }
}

}