@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar nav {
  width: 100vw;
  height: 80px;
  color: #FFFFFF;
  opacity: 1;
  border-top: 1px solid #1AE0EC;
  direction: rtl;
}
.navbar nav ul {
  margin-top: 20px;
  margin-right: 70px;
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.navbar nav ul li {
  flex-direction: column;
}
.navbar nav ul li a {
  font-size: 1.5em;
  color: rgb(44, 44, 44);
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.navbar nav ul li a:hover {
  color: #1AE0EC;
}

.navbar h1 {
  font-family: futura;
  font-size: 1.5em;
  color: #444444;
  margin-top: -55px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.welcome {
  width: 100vw;
  height: 460px;
  background-color: rgba(19, 232, 241, 0.3882352941);
  direction: rtl;
  padding-top: 120px;
}
.welcome h1 {
  font-family: heebo;
  font-size: 5em;
  font-weight: 900;
  color: #3A3A3A;
  text-align: center;
}
.welcome p {
  text-align: center;
  font-family: heebo;
  font-size: 1.25em;
  font-weight: 500;
  padding-right: 350px;
  padding-left: 350px;
}

.programs {
  background-color: white;
  width: 100vw;
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.programs img {
  width: 90px;
  height: 90px;
  margin-left: -50px;
  margin-right: -50px;
}

.onMe {
  width: 100vw;
  height: 715px;
  text-align: center;
  direction: rtl;
}
.onMe img {
  height: 100px;
  width: 100px;
  border-radius: 145px 145px 145px 145px;
  margin-top: 100px;
}
.onMe h2 {
  font-family: "Heebo", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(58, 58, 58);
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}
.onMe p {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(58, 58, 58);
  padding-right: 450px;
  padding-left: 450px;
  line-height: 1.8;
}
.onMe button {
  width: 260px;
  height: 40px;
  background-color: rgb(26, 224, 236);
  color: rgb(58, 58, 58);
  border-radius: 25px 25px 25px 25px;
  border: 0px;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 45px;
}

.works {
  width: 100vw;
  height: 1250px;
  background-color: rgb(246, 246, 246);
  direction: rtl;
  text-align: center;
}
.works h1 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: rgb(58, 58, 58);
  padding-top: 100px;
}
.works p {
  padding-top: 10px;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.container .card {
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
  font-family: "Heebo", sans-serif;
  color: rgb(58, 58, 58);
}
.container .card .card-body h5 {
  font-size: 23px;
  font-weight: 500;
}
.container .card .card-body p {
  font-size: 16px;
  font-weight: 400;
}
.container .card .card-body .btn {
  width: 150px;
  height: 30px;
  background-color: rgb(26, 224, 236);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(44, 44, 44);
  text-align: center;
}

.contact {
  width: 100vw;
  background-color: rgb(58, 58, 58);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: rtl;
  padding-bottom: 170px;
}
.contact h1, .contact p, .contact form {
  grid-column: 1/2;
  margin-right: 200px;
}
.contact img {
  grid-column: 2/3;
  width: 600px;
  height: 522.86px;
  margin-right: 100px;
  margin-top: -300px;
}
.contact h1 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-top: 161px;
}
.contact p {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.8;
}
.contact form {
  display: flex;
  flex-direction: column;
}
.contact form label {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}
.contact form input {
  line-height: 2.2;
  border: 0px solid #000;
  border-bottom: 2px solid rgb(26, 224, 236);
  margin-bottom: 10px;
}
.contact form textarea {
  border: 0 solid #000;
  border-bottom: 2px solid rgb(26, 224, 236);
  margin-bottom: 30px;
}
.contact form .button {
  width: 160px;
  height: 40px;
  background-color: rgb(26, 224, 236);
  color: rgb(44, 44, 44);
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
}

.icons {
  width: 100vw;
  height: 200px;
  background-color: rgb(26, 224, 236);
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding-top: 70px;
}
.icons .icon img {
  margin-bottom: 10px;
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border: 0px solid #000;
  border-bottom: 2px solid rgb(26, 224, 236);
  direction: rtl;
}
.footer p {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(26, 224, 236);
  padding-top: 15px;
  padding-right: 15px;
}/*# sourceMappingURL=main.css.map */